{{ if .Params.featured }}
<article class="{{ .Section }} featured">
{{ else }}
<article class="{{ .Section }}">
{{ end }}
	<div class="inner">
		<a class="post-link" href="{{ .Permalink }}"></a>
		{{ if .Params.image }}
		<figure class="post-image">
			<a href="{{ .Permalink }}"><img src="{{ replace .Params.image ".jpg" "-400.jpg" }}" alt="{{ .Title }}" title="{{ .Title }}" /></a>



		</figure>
		{{ end }}
		<p class="post-excerpt">{{ range $index, $rated := .Params.rated }}
			{{ $rated }}
			{{ end }}</p>


		<h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>

		<span class="post-meta">
			<span class="post-date">{{ .Date.Format "02.01.2006" }}</span>
		</span>

		<!--<span class="post-more"><a href="{{ .Permalink }}">Read More <i class="icon-arrow-right"></i></a></span>-->
	</div>
</article>
