{{ $baseurl := .Site.BaseURL }}
{{ partial "header.html" . }}

<main class="content" role="main">
	<article class="post">
		<div class="inner">

			<div id="push">

  			<header class="post-header">

						<div class="rated">
					{{if .Params.rated }}
					{{ range $index, $cat := .Params.rated }}
					<a href="{{ $baseurl }}rated/{{ $cat | urlize }}/">{{ $cat }}</a>
					{{ end }}
					{{ end }}
				</div>


  				<h1 class="post-title">{{ .Title }}</h1>


				<div class="post-tags">
					{{if .Params.tags }}

					{{ range $index, $tags := .Params.tags }}
					<a href="{{ $baseurl }}tags/{{ $tags | urlize }}/">{{ $tags }}</a>
					{{ end }}
					{{ end }}
				</div>


  			</header>

				{{ if .Params.image }}
				<figure class="post-image">
					 <img src="{{ .Params.image }}" alt="{{ .Title }}" title="{{ .Title }}" />
				</figure>
				{{ end }}

  			<section class="post-content">
  				{{ .Content }}

				{{ if .Params.youtube }}
				<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ .Params.youtube }}?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
				{{ end }}

  			</section>

				{{ if .Params.googleplay }}

				<section class="post-content">
					<h3>Послушать:</h3>
					<p>— <a href='https://play.google.com/music/listen#/album/{{ .Params.googleplay }}'>Google Play</a></p>
				</section>
				{{ end }}

  			<footer class="post-footer">




				<div class="post-share">

					<div class="likely">

						<div class="facebook">Поделиться</div>
						<div class="twitter" data-via="khabaroff" >Твитнуть</div>
						<div class="vkontakte">Поделиться</div>
						<div class="telegram" data-text="@thousandalbums">Отправить</div>
					</div>






				</div>


  			</footer>

  			<!--{{ partial "comments.html" . }}-->

			</div>

			<nav class="post-nav">
				{{ if .NextInSection }}
					<a class="post-nav-item post-nav-next" href="{{ .NextInSection.Permalink }}">
						<section class="post-nav-teaser">
							<span class="post-nav-icon"><i class="icon-arrow-left"></i></span>
							<span class="post-nav-info">
								<h4 class="post-nav-title">{{ .NextInSection.Title }}</h4>
								<!--<p class="post-nav-excerpt">{{ .NextInSection.Description }}&hellip;</p>-->
							</span>
						</section>
					</a>
				{{ end }}
				{{ if .PrevInSection }}
					<a class="post-nav-item post-nav-prev" href="{{ .PrevInSection.Permalink }}">
						<section class="post-nav-teaser">
							<span class="post-nav-icon"><i class="icon-arrow-right"></i></span>
							<span class="post-nav-info">
								<h4 class="post-nav-title">{{ .PrevInSection.Title }}</h4>
								<!--<p class="post-nav-excerpt">{{ .PrevInSection.Description }}&hellip;</p>-->
							</span>
						</section>
					</a>
				{{ end }}


				<!--{{ partial "related.html" . }}-->

				<div class="clear"></div>
			</nav>

		</div>
	</article>
</main>

{{ partial "footer.html" . }}
