<title>{{ if ne .URL "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}</title>

<link rel="preload" href="{{ .Site.BaseURL }}js/main.js" as="script" />
<link rel="preload" href="{{ .Site.BaseURL }}css/main.css" as="style" />


{{ if .Description }}
<meta name="description" content="{{ .Description }}" />
{{ else }}
<meta name="description" content="{{ .Site.Params.description }}" />
{{ end }}

<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{ if ne .URL "/" }}
<link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}

{{if .IsNode}}
<link href="{{.RSSLink}}" rel="alternate" type="application/rss+xml" title="{{ if ne .URL "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}" />
{{end}}
<link rel="canonical" href="{{ .Permalink }}" />



{{ if .IsPage }}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ .Permalink | safeJS }}"
        },
        "headline": "{{ .Title | safeJS}}",
        "description": "{{ printf "%s" .Description }}",
        "author": {
            "@type": "Person",
            "name": "{{ .Site.Params.author.firstName }} {{ .Site.Params.author.lastName }}",
            "url": "http://profiles.google.com/{{ .Site.Params.author.gplus }}?rel=author",
            "image": {
              "@type": "ImageObject",
              "url": "https:{{ .Site.Params.author.image }}",
              "height": 80,
              "width": 80
            }
        },
        "publisher": {
          "@type": "Organization",
          "@id": "{{ .Site.BaseURL }}",
          "name": "{{ .Site.Title }}",
          "url": "{{ .Site.BaseURL }}",
          "logo": {
            "@type": "ImageObject",
            "url": "https:{{ .Site.Params.author.image }}",
            "height": 80,
            "width": 80
          }
        },
        {{ if .Params.image }}"image": {
          "@type": "ImageObject",
          "url": "{{ absURL .Params.image }}",
          "height": 133,
          "width": 200
        },{{ else }}
        "image": {
          "@type": "ImageObject",
          "url": "{{ .Site.Params.author.image }}",
          "height": 80,
          "width": 80
        },{{ end }}
        "datePublished": "{{ .Date.Format "2006-01-02" }}",
        "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
        "wordCount": {{ .WordCount }},
        {{ if .Params.tags }}"keywords": {{ .Params.tags | jsonify }} {{ end }}
    }
    </script>
{{ end }}