<div id="body-class" style="display: none;"></div>


<footer id="footer">


<!--    <section class="credits">-->
<!--						<div class="credits-theme">-->
<!--							<div class="likely" data-url="https://khabaroff.com/1000/">-->
<!--							<div class="facebook">Поделиться</div>-->
<!--							<div class="twitter" data-via="khabaroff">Твитнуть</div>-->
<!--							<div class="vkontakte">Поделиться</div>-->
<!--							<div class="telegram" data-text="@thousandalbums">Отправить</div>-->
<!--							</div>-->
<!--						</div>-->

<!--        <div class="credits-software">-->
<!--			Made by <a-->
<!--                href="https://khabaroff.com/">Sergey Khabaroff</a></div>-->

<!--    </section>-->


	<section class="post-content">

		<h3>Получать обновления в&nbsp;телеграме:</h3>

		<p class="twenty"><a href="https://t.me/thousandalbums">t.me/thousandalbums</a></p>


	</section>


</footer>
{{ partial "navigation.html" . }}
{{ partial "toc.html" . }}
<div class="overlay"></div>
</div>
</section>

<script async src="{{ .Site.BaseURL }}js/main.js"></script>

<noscript>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
</noscript>
</body>
</html>
