<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{.Site.LanguageCode}}">

    <head>

        {{ partial "criticalpath.html" . }}


        <script>
            if(navigator.userAgent.indexOf("Speed Insights") == -1) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-M7P33X');
            }
        </script>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        {{ partial "_og.html" . }}
        {{ partial "_schema.html" . }}
        {{ partial "_twitter_cards.html" . }}

    <script type="text/javascript">
      var config = {
        baseUrl: "{{ .Site.BaseURL }}"
      };
    </script>



    </head>
    <body class="home-template">


    {{ if .Site.Params.googleTagManagerID }}
    {{with .Site.Params.googleTagManagerID }}
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id={{ . }}" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    {{ end }}
    {{ end }}


      <div id="loader-wrapper">
        <div id="loader"></div>
      </div>
      <section id="wrapper" style="display: none;">
        <div id="ajax-container">
          <nav id="nav" class="nav">
            <div class="nav-logo">

                {{ if .IsHome }}
                <img class="rotated" src="{{ .Site.BaseURL }}img/logo.svg">
                {{ else }}
                <a href="{{ .Site.BaseURL }}"><img class="rotated" src="{{ .Site.BaseURL }}img/logo.svg"></a>
                {{ end }}

            </div>
            <div class="nav-menu">
              <a class="rss" href="https://khabaroff.com/1000/index.xml">
                <i class="icon-rss"></i>
              </a>
                {{ if .Site.Menus.main }}
                <a class="menu" data-action="menu" data-target="menu"><i class="icon-menu"></i></a>
                {{ end }}
            </div>
          </nav>
