<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{.Site.LanguageCode}}">

    <head>

        {{ partial "criticalpath-min.html" . }}


        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        {{ partial "_schema.html" . }}
        {{ partial "_og.html" . }}
        {{ partial "_twitter_cards.html" . }}

        {{ if and .Site.Params.umami.enabled .Site.Params.umami.scripturl .Site.Params.umami.websiteid }}
        <script defer src="{{ .Site.Params.umami.scripturl }}" data-website-id="{{ .Site.Params.umami.websiteid }}"></script>
        {{ end }}

    <script type="text/javascript">
      var config = {
        baseUrl: "{{ .Site.BaseURL }}"
      };
    </script>



    </head>
    <body class="home-template">


      <div id="loader-wrapper">
        <div id="loader"></div>
      </div>
      <section id="wrapper" style="display: none;">
        <div id="ajax-container">
          <nav id="nav" class="nav">
            <div class="nav-logo">

                {{ if .IsHome }}
                <img class="rotated" src="{{ .Site.BaseURL }}img/logo.svg">
                {{ else }}
                <a href="{{ .Site.BaseURL }}"><img class="rotated" src="{{ .Site.BaseURL }}img/logo.svg"></a>
                {{ end }}

            </div>
            <div class="nav-menu">
                {{ if .Site.Menus.main }}
                <a class="menu" data-action="menu" data-target="menu"><i class="icon-menu"></i></a>
                {{ end }}
            </div>
          </nav>
